body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

/* main Body */
.section_wrap {
    min-height: auto;
    flex-grow: 1;
    display: flex;
    align-items: center; /* 垂直置中內容 */
    justify-content: center; /* 水平置中內容 */
    flex-direction: row; /* 將內容的方向設為水平 */
   
}

.title {
    display: block;
    line-height: 1.5;
    vertical-align: middle;
}

h2 {
    text-align: left;
}

.content-wrapper input {
    width: 50%;
}

.form-content {
    margin-bottom: 10px;
}

.content-wrapper {
    padding-top: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 3fr 8fr;
    margin-bottom: 10px;
}

.form-content {
    padding-bottom: 10px;
}

.form-container label {
    display: inline-block;
    padding: 10px 0px;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}

abbr {
    color: #c07525;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--dark-gray);
}

div.border {
    border-bottom: 1px solid var(--dark-gray);
    margin-top: 20px;
}

.btn-save {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.div-wrap {
    display: grid;
    grid-template-columns: 4.9fr 3fr;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

    .submit input {
        background-color: var(--main-green);
        border: var(--common-border);
        display: inline-block;
        box-sizing: border-box;
        margin-top: 13px;
        margin-bottom: 15px;
        color: #fff;
        padding: 10px 10px;
        border-radius: 4px;
        width: 100px;
        margin-left: auto;
    }

.form-divider {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.passwords, label {
    margin-top: 2px;
    margin-bottom: 3px;
}
.error-message {
    color: red;
    
    margin: 4px 0 6px; /*調整間距 */
}
@media screen and (max-width:768px) {
    h2 {
        text-align: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }

        .form-container input {
            width: 50%;
        }

        .form-container label {
            min-width: 98px;
            display: flex;
            text-align: left;
        }

    .div-wrap {
        display: block;
    }

    .btn-save button {
        display: block;
        width: 100%;
        border-radius: 3px;
        text-align: center;
    }
}
