


/* 組織名稱欄 */
.header-title {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

.organize{
    color: #999;
    line-height: 40px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 30px;
}

.name{
    line-height: 37px;
    font-size: 22px;
    color: var(--main-green);
}


/* 正式版面 */
.wrap{
    margin: 0 auto;
    margin-bottom: 50px;
}

.container {
    color: #333333;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
}

/* 左半邊 */
.main-content{
    padding-right: 35px;
}

.contact-settings{
    border-bottom:2px solid var(--dark-gray);
    display: block;
    padding-bottom: 8px;
}


a {
    text-decoration: none;
}

li:first-child>a{
    color: var(--light-green);
}

/* 所有小標 */
.essential-input, h4{
    margin-bottom: 5px;
    font-weight: bold;
}

/* 所有附註說明 */
span.note, .map-note{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    color: #737373;
}

/* 所有必填欄位 */
.essential-input::before{
    content: "*";
    display: inline-block;
    color: #c07525;
    margin-right: 5px;

}

/* 所有小區塊 */
.online-log, .log{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.5;
}

/* 所有radio */
.form-check-label{
    display: contents;
}

/*所有按鍵*/
.main-content>button{
    background-color:var(--main-green);
    color: #FFF;
}


/*網址長度*/

.input-group-text {
    font-size: 15px;
    padding: 6px;

}

.input-group > .form-control {
    width: 180px;
    line-height: 15px;

}

/*Boostrap change*/
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.OK {
color: var(--light-green);
padding-top: 5px;  
}

.form-control {
    display: inline-block;
    margin-right: 10px;
}

.btn-success{
    background-color: var(--main-green);
    }
.btn-success:hover{
        background-color: var(--light-green);
        }

.ck-editor__editable_inline {
    min-height: 300px;
}

/*#ckeditor-area {
    background-color:red;
    border-bottom: 1px solid #dee2e6
}*/



/* 右欄 */
.log > img {
    margin-bottom: 18px;
}

button.btn-outline-secondary{
    margin-right: 10px;
    background-color:var(--main-green);
    color:#fff;
}


/* IPAD */
@media (max-width:1041px){
 .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .main-content{
        padding-right: 0px;
    }
    .imageUpload,
    .contact-info,
    .title {
        text-align: center;
    }
    .imageUpload h4{
        font-size:26px;
    }
}

/* MOBILE */
@media (max-width:768px) {

    
    .button-submit{
    padding-top: 20px;
    }
    .btn-success{
        width: 100%;
    }

}

/* DESKTOP
@media (min-width:769px) {

    @media (min-width:769px) and (max-width:1200px) {

        .input-group > .form-control {
            width: 180px;
            line-height: 15px;
        }
    }

    }



    .input-group > .form-control {
        width: 180px;
        line-height: 15px;
    } */
