@{
    ViewData["Title"] = "CreateOrganization";
}

@section topCSS {
    <link href="~/css/Organization/CreateOrganization.css" rel="stylesheet" />
}


<div class="wrap width">
    <div class="header-title">
        <div class="organize">組織名稱</div>
    </div>
    <div id="app">
        <div class="container">
            <div class="main-content">
                <div class="title">
                    <h3 class="setOrgData">
                        設定組織資料
                    </h3>
                </div>
                <!-- 組織名稱 -->
                <div class="org-name log">
                    <div class="mb-3">
                        <h4 class="essential-input">組織名稱</h4>
                        <input v-model="name" type="text" class="form-control h-50" id="formGroupExampleInput" placeholder="">
                    </div>
                </div>
                <!-- 網址 -->
                <div class="websiteLink log">
                    <h4 class="essential-input">網址</h4>
                    <div class="input-group mb-2 h-50 w-75">
                        <input v-model="organizationUrl" type="text" class="form-control" id="website" aria-label="Website Url" aria-describedby="website">
                        <div class="input-group-text" id="website">shownest.cc</div>

                        @* <span class="OK">
                        <i class="fa-solid fa-circle-check"></i> 可以使用
                        </span> *@
                    </div>
                    <span class="org-note mt-1">
                        3 到 16 個小寫英文或數字。
                    </span>
                </div>
                <!-- 網站名稱 -->
                <div class="websiteName log">
                    <div class="mb-3">
                        <h4 class="input">官方網站</h4>
                        <input v-model="outerUrl" type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                    </div>
                </div>
                <!-- 描述欄位（CKeditor） -->
                <div class="description log">
                    <label for="" class="form-label">描述</label>
                    <div id="editor"></div>
                    <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor>
                    <!-- Facebook 粉絲團網址 -->
                    <div class="facebook log">
                        <div class="mb-3">
                            <h4 class="input">Facebook 粉絲團網址</h4>
                            <input v-model="fbLink" type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>
                    </div>
                    <!-- Twitter 帳號 -->
                    <div class="ig log">
                        <div class="mb-3">
                            <h4 class="input">IG 主頁連結</h4>
                            <input v-model="igAccount" type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>
                    </div>
                    <!-- 回覆 E-mail 地址 -->
                    <div class="email log">
                        <div class="mb-3">
                            <h4 class="essential-input">回覆 E-mail 地址</h4>
                            <input v-model="email" type="text" class="form-control h-50" id="formGroupExampleInput" placeholder=" ">
                        </div>
                    </div>
                    
                    <div class="privacy log">
                        <input type="checkbox" name="agree_terms" id="agree_consent_check" value="agree_consent_check" v-model="isChecked">
                        <label class="agree_check" for="agree_consent_check">我已經閱讀並同意</label>
                        <a href="/org_terms.html" target="_blank">主辦單位服務條款</a>
                        與
                        <a href="/policy.html" target="_blank">隱私權政策</a>
                        <p v-if="!isChecked" id="privacy-warning">請勾選同意即可送出</p>
                        <p v-else="isChecked" id="privacy-warning">&nbsp;</p>
                    </div>
                </div>
                <div class="button-submit mt-4 mb-4">
                    <a id="submit" v-on:click="submit" class="btn btn-success" :style="{pointerEvents: isChecked ? 'auto' : 'none' }">送出</a>
                </div>
            </div>
            <div class="rightContainer">
                <div class="other-setting">
                    <!-- (右邊)圖片上傳區 -->
                    <div class="imageUpload log">
                        <h4>社群分享圖片</h4>
                        <img :src="imgUrl">
                        <a class="file-input">
                            <input class="file-upload form-control form-control-sm" type="file" id="form-control-sm" @@change="imgUpload">
                        </a>
                        @* <div>
                        <button type="button" class="btn btn-outline-secondary">選擇圖片</button>
                        <button type="button" class="btn btn-outline-secondary">還原原圖</button>
                        </div> *@
                    </div>
                    <div class="contact-settings">
                        <h3 class="contact-info">聯絡資訊</h3>
                    </div>
                    <!-- --------聯絡資訊------------ -->
                    <!-- 聯絡名稱 -->
                    <div class="contact-name log">
                        <div class="mb-3">
                            <h4 class="input">聯絡人名稱</h4>
                            <input v-model="contactName" type="text" class="form-control h-50" id="" placeholder="">
                        </div>
                    </div>
                    <!-- 聯絡人行動電話 -->
                    <div class="contact-mobile log">
                        <div class="mb-3">
                            <h4 class="input">行動電話</h4>
                            <input v-model="contactMobile" type="text" class="form-control h-50" id="" placeholder="">
                        </div>
                    </div>
                    <!-- 聯絡人一般電話 -->
                    <div class="contact-tel log">
                        <div class="mb-3">
                            <h4 class="input">一般電話</h4>
                            <input v-model="contactTelephone" type="text" class="form-control h-50" id="" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@ckeditor/ckeditor5-build-classic@41.3.0/build/ckeditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@ckeditor/ckeditor5-vue@5.1.0/dist/ckeditor.min.js"></script>
    <script src="~/js/organizations/createorganization.js"></script>
}

