@{
    ViewData["Title"] = "CreateEventTest";
}

@section topCSS {
    <link href="~/lib/vuetify/vuetify-labs.min.css" rel="stylesheet">
    <link href="~/css/Dashboard/CreateEventTest.css" rel="stylesheet" />
}

<body>
    <div class="wrap" id="app">
        <v-app>

            <v-container>
                <v-stepper prev-text="上一步"
                           next-text="下一步"
                           :items="['建立活動', '設定資料', '設定票種', '設定表單']">
                    @* 第一頁 *@
                    <template v-slot:item.1>
                        <div class="wrap">
                            <div class="container">
                                <!-- 從首頁導覽列進入的建立活動 -->
                                <div class="ActivityContainer">
                                    <h2>建立活動</h2>
                                    <h3 class="select-organizer">選擇活動舉辦單位</h3>
                                    <p>您尚未選擇組織，請選取此活動所屬之組織：</p>
                                    <v-select item-title="name"
                                              item-value="id"
                                              v-model="selectedOrganization"
                                              class="w-25"
                                              :items="organizations"
                                              density="compact"
                                              label="選擇一個組織"
                                              variant="outlined"></v-select>

                                    <!-- Hide the organizations while not selected below -->
                                    <div v-show="displaySelectActivityType">
                                        <v-select v-model="selectedActivityType"
                                                  class="w-25"
                                                  :items="activityTypes"
                                                  variant="outlined"
                                                  density="compact"
                                                  label="選擇一個活動類別"></v-select>

                                        <div class="activity-select" v-if="displayExistingActivities">
                                            <div class="evetItem">
                                                <input type="radio" for="eventName"> </input>
                                                <label id="eventItem">Model.EventName </label>
                                            </div>
                                            <div>
                                                <input type="radio" for="eventName"> </input>
                                                <label id="eventItem">Model.EventName2 </label>
                                            </div>
                                            
                                            
                                            @* <div class="checkbox" >
                                                <v-list-item v-for=" event in EventNames"
                                                        :key="event.return">
                                                </v-list-item>
                                            </div> *@

                                            <p class="notice">您也可以直接套用既有的活動設定（基本資料、表單、票種），節省您寶貴的時間</p>
                                            <h3 class="lined">以最近舉辦的活動做為樣板</h3>
                                            <!-- Show activity items when the activities exist-->
                                            <div class="activity-item">
                                            </div>
                                        </div>
                                        
                                        <div class="TOSzone">
                                            <label for="">
                                                <input type="checkbox" class="checkbox"> 我已經閱讀並同意
                                                <a href="">主辦單位服務條款</a> 與 <a href="">隱私權政策</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>

                    @* 第二頁 *@
                    <template v-slot:item.2>
                        <div class="wrap">
                            <div class="container">
                                <!--麵包屑分頁-->
                                <div id="tabs">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="@Url.Action("SetEvent", "Dashboard")">設定資料活動</a></li>
                                            <li class="breadcrumb-item"><a href="@Url.Action("SetTicket", "Dashboard")">設定票種</a></li>
                                            <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("SetTable", "Dashboard")">設定表單</a></li>
                                        </ol>
                                    </nav>
                                </div>

                                <form class="dual-column-wrapper" asp-controller="Dashboard" asp-action="SetTicket" method="post" onsubmit="return validateForm()">
                                    <div class="main-content">
                                        <!-- 活動名稱 -->
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4 class="essential-input">活動名稱</h4>
                                                <input type="text" class="form-control h-50" id="EventNameInput" placeholder=" ">
                                                <div class="invalid-feedback">
                                                    請輸入活動名稱!
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 網址 -->
                                        <div class="section">
                                            <h4 class="essential-input">網址</h4>
                                            <div class="input-group mb-3 h-50 w-75">
                                                <span class="input-group-text " id="basic-addon3">https://bs-test.shownest.cc/events/</span>
                                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                                <div class="invalid-feedback">
                                                    請輸入3 到 16 個小寫英文或數字。
                                                </div>
                                                <span class="OK">
                                                    @* <i class="fa-solid fa-circle-check"></i> 可以使用 *@
                                                </span>
                                            </div>
                                            @*                         <span class="note">
                                            請輸入3 到 16 個小寫英文或數字。
                                            </span> *@
                                        </div>

                                        <!-- 活動時間 -->
                                        <div class="section">
                                            <h4 class="essential-input">活動舉辦時間</h4>
                                            <input type="datetime-local" class="date-time" id="startTime">
                                            <div class="space">至</div>
                                            <input type="datetime-local" class="date-time" id="endTime">
                                            <div>
                                                <!-- 勾選後時間截止日與預計時間長度會隱藏 -->
                                                <div class="end-time">
                                                    <input type="checkbox" name="checkbox" id="checkbox">
                                                    不提供結束時間
                                                </div>
                                                <span class="note">如果你沒有提供結束時間，系統不會顯示結束時間。活動會在開始時間到時結束販售。</span>
                                            </div>
                                            <div class="invalid-feedback" id="timeError" style="display: none;">
                                                請選擇活動舉辦時間!
                                            </div>
                                        </div>

                                        <!-- 主辦與協辦單位 -->
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4  class="essential-input">主辦單位</h4>
                                                <input type="text" class="form-control h-50" id="MainOrganizerInput" placeholder="請輸入主辦單位名稱">
                                                <div class="invalid-feedback">
                                                    主辦單位名稱不可為空白!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4 asp-for="CoOrganizer">協辦單位</h4>
                                                <input type="text" class="form-control h-50" id="formGroupExampleInput" placeholder="若您的活動需告知協辦單位，請在此填寫">
                                            </div>
                                        </div>
                                        <!-- 活動人數 -->
                                        <div class="section">
                                            <h4>活動人數</h4>
                                            <input type="number" value="30" min="10" max="1000" step="10" class="number-of-people">
                                            <input type="checkbox" name="" class="unlimited">不限定數量
                                        </div>

                                        <!-- 活動形式：線上則活動地址欄，實體則關線上選項欄 -->
                                        <div class="section">
                                            <h4>活動形式</h4>
                                            <select class="form-select h-50" aria-label="Default select example" id="EventStatus">
                                                <option selected value="0">實體活動</option>
                                                <option value="1">線上活動</option>
                                            </select>
                                        </div>

                                        <!-- 實體活動＆地址欄（有地圖） -->
                                        <div class="place-section">
                                            <div class="section">
                                                <h4 class="essential-input">場地名稱</h4>
                                                <input type="text" class="form-control h-50" id="LocationName" placeholder=" ">
                                                <div class="invalid-feedback">場地名稱不可空白唷!</div>
                                            </div>
                                            <div class="section">
                                                <h4 class="essential-input">活動地址</h4>
                                                <input type="text" class="form-control w-50 h-50" id="EventAddress" placeholder=" ">
                                                <div class="invalid-feedback">活動地點位置不可為空白喔！</div>
                                                <button type="button" class="h-25 btn btn-outline-secondary " id="upadte-map">更新地圖</button>
                                                <!-- <button type="button" class="update-map">更新地圖</button> -->
                                            </div>
                                            <!--地圖 -->
                                            <div id="map"></div>
                                            <span class="map-note">
                                                位置不對怎麼辦？您可以手動拖曳地圖上的標示，移動到指定位置
                                            </span>
                                        </div>

                                        <!-- 線上活動欄 -->
                                        <div class="online-section">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    其他串流平台 (可於 主控台>活動地點 設定電子票券之線上活動連結)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    SHOWNEST Live
                                                    <span class="note">SHOWNEST Live 提供多元方案應援你的線上活動創意，點此查看詳情或請來信 biz@shownest.com 洽詢，將有專人提供報價</span>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- 活動簡介欄 -->
                                        <div class="section">
                                            <h4>活動簡介（填入100字以內的活動描述介紹你的活動吧！）</h4>
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 100px"></textarea>
                                                <label for="floatingTextarea2">e.g. 今年陣容最堅強的演唱會。名額有限，錯過不再。快揪朋友一起報名！</label>
                                            </div>
                                            <span class="note">說明：輸入簡短活動描述能優化你的活動頁面，讓你的活動連結在社群網站分享時能更清楚宣傳你的資訊。<i class="fa-solid fa-circle-info"></i></span>
                                        </div>

                                        <!-- 描述欄位（CKeditor） -->
                                        <div class="section" id="ckeditor-area">
                                            <h4>描述</h4>
                                            <div id="editor"></div>
                                            <script>
                                                ClassicEditor
                                                    .create(document.querySelector('#editor'))
                                                    .then(editor => {
                                                        console.log(editor);
                                                    })
                                                    .catch(error => {
                                                        console.error(error);
                                                    });
                                            </script>
                                        </div>
                                        <div class="pages-change">
                                            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("CreateEvent", "Dashboard")'">上一頁</button>
                                            <button type="submit" class="btn btn-outline-secondary" value="Upload" id="next">下一頁</button>
                                        </div>
                                    </div>


                                    <div class="other-setting">
                                        <!-- (右邊)圖片上傳區 -->

                                        <div class="section">
                                            <h4 asp-for="MainImageURL">社群分享圖片</h4>
                                            <img asp-for="MainImageURL" id="uploadedImage" src='/img/Dashboard/upload-img.png'>
                                            <div>
                                                <!-- 添加文件上傳元素 -->
                                                @* <input id="fileupload" type="file" name="images" multiple accept="image/gif, image/jpeg, image/png"> *@
                                                <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('uploadInput').click()" accept="image/gif, image/jpeg, image/png" id="fileupload">選擇圖片</button>
                                                <button type="button" class="btn btn-outline-secondary" id="restoreBtn">還原原圖</button>
                                            </div>
                                        </div>
                                        <span class="note">請提供尺寸為600x400px以內 且 檔案格式為 png.、jpg. 之圖片。</span>

                                        <!-- 隱私設定區 -->
                                        <div class="section">
                                            <h4 asp-for="IsPrivate">活動隱私</h4>
                                            <div class="form-check form-check-inline">
                                                <input selected class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">公開</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
                                                <label class="form-check-label" for="inlineRadio2">私人</label>
                                            </div>
                                            <div>
                                                <span class="note">私人活動不會出現在我們的公開頁面。</span>
                                            </div>
                                        </div>

                                        <!-- 活動分類(標籤) -->
                                        <div class="section">
                                            <h4>活動分類</h4>
                                            <span class="note">你可以選擇最多 3 個分類。</span>
                                            <div class="tag-pool">
                                                <div class="tag">演唱會</div>
                                                <div class="tag">課程講座</div>
                                                <div class="tag">研討會</div>
                                                <div class="tag">社群展覽</div>
                                                <div class="tag">電影</div>
                                                <div class="tag">音樂會</div>
                                                <div class="tag">藝人見面會</div>
                                                <div class="tag">遊戲競賽</div>
                                                <div class="tag">親子</div>
                                                <div class="tag">聯誼</div>
                                                <div class="tag">職場工作術</div>
                                                <div class="tag">科技資訊</div>
                                                <div class="tag">休閒</div>
                                                <div class="tag">運動</div>
                                                <div class="tag">心靈成長</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </template>

                    @* 第三頁 *@
                    <template v-slot:item.3>
                        <v-card title="設定票種" flat>...</v-card>
                    </template>

                    @* 第四頁 *@
                    <template v-slot:item.4>
                        <v-card title="設定表單" flat>...</v-card>
                    </template>

                </v-stepper>
            </v-container>
        </v-app>
    </div>

    @section Scripts {
        <script src="~/lib/vuetify/vuetify.min.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY">
        </script>
        <script src="/js/Dashboard/CreateEventTest.js" asp-append-version="true"></script>
    }
</body>



