@using ShowNest.Web.ViewModels.Dashboard
@model CreateEventDto

@{
    ViewData["Title"] = "CreateEvent";
}



@section topCSS {
    <link href="~/lib/vuetify/vuetify-labs.min.css" rel="stylesheet" />
    <link href="~/css/Dashboard/CreateEvent.css" rel="stylesheet" />
    <link href="~/css/_partial/_CategoryTags_Partial.css" rel="stylesheet" />
}

<body>
    <div class="wrap" id="app">
        <v-app>
            <v-container>
                <v-stepper prev-text="上一步"
                           next-text="下一步"
                           :items="['建立活動', '設定資料', '設定票卷']"
                           v-model="stepButton"
                           editable
                           hide-actions>
                    @* 第一頁 *@
                    <template v-slot:item.1>
                        <div class="wrap" id="CreateEvent">
                            <div class="container">
                                <!-- 從首頁導覽列進入的建立活動 -->
                                <div class="ActivityContainer">
                                    <h2 class="CreateEventTitle">建立活動</h2>
                                    <h3 class="select-organizer">選擇活動舉辦單位</h3>
                                    <p>您尚未選擇組織，請選取此活動所屬之組織：</p>
                                    <v-select item-title="name"
                                              v-model="selectedOrganization"
                                              item-value="orgId"
                                              class="w-50"
                                              :items="orgNames"
                                              density="compact"
                                              label="選擇一個組織"
                                              variant="outlined">
                                    </v-select>


                                    <!-- Hide the organizations while not selected below -->
                                    <div v-show="displaySelectActivityType">
                                        <v-select v-model="selectedActivityType"
                                                  class="w-50"
                                                  :items="activityTypes"
                                                  variant="outlined"
                                                  density="compact"
                                                  label="選擇一個活動類別"
                                                  ></v-select>

                                        <!--隱藏區域--!>
                                                        <div class="activity-select"  v-if="displayExistingActivities" >
                                                            <p class="notice">您也可以直接套用既有的活動設定（基本資料、表單、票種），節省您寶貴的時間</p>
                                                            <h3 class="lined">以最近舉辦的活動做為樣板</h3>
                                                            <div v-for="event in eventsforInput" :key="event.eventId">
                                                              <input type="radio" :id="event.eventId" v-model="radioCheck" :value="event.eventId" name="eventRadio" >
                                                               <label :for="event.eventId">{{event.eventName}}</label>
                                                            </div>

                                                        </div> 

                                                        <div class="TOSzone">
                                                            <label for="agree">
                                                                <input type="checkbox" class="isChecked"
                                                                        v-model="checkbox"
                                                @* :rules="[v => !!v || '請勾選同意後進行!']" *@
                                                                        required> 我已經閱讀並同意
                                                                <a href="">主辦單位服務條款</a> 與 <a href="">隱私權政策</a>
                                                @* <div class="invalid-feedback">
                                                                    {{checkboxErrorMsg}}
                                                                </div> *@
                                                            </label>
                                                        </div>
                                                      <input class="establishBtn" type="button" value="建立" @@click="handleEventSelection"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>

                    @* 第二頁 *@
                            <template v-slot:item.2>
                                <div class="wrap" id="SetEvent">
                                    <div class="container">
                                        <div class="header-title">
                                            <div class="organize">
                                                組織名稱
                                            </div>
                                            <div class="Orgname">
                                                Build School
                                            </div>
                                        </div>

                                        <div class="dual-column-wrapper" asp-controller="Dashboard" asp-action="SetTicket" method="post" onsubmit="return validateForm()">
                                            <div class="main-content">
                                                <!-- 活動名稱 -->
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4 class="essential-input">活動名稱</h4>
                                                <input type="text" v-model="eventNameInput" class="form-control h-50" id="EventNameInput" placeholder=" ">
                                            </div>
                                        </div>

                                        <!-- 活動時間 -->
                                        <div class="section">
                                            <h4 class="essential-input">活動舉辦時間</h4>
                                            <input type="datetime-local" class="date-time" id="startTime" v-model="startTime">
                                            <div class="space">至</div>
                                            <input type="datetime-local" class="date-time" id="endTime" v-model="endTime">
                                            <div>
                                                <!-- 勾選後時間截止日與預計時間長度會隱藏 -->
                                                <div class="end-time">
                                                    <input type="checkbox" name="checkbox" id="checkbox" v-model="noEndTime">
                                                    不提供結束時間
                                                </div>
                                                <span class="map-note">如果你沒有提供結束時間，系統不會顯示結束時間。活動會在開始時間到時結束販售。</span>
                                            </div>
                                            @* <div class="invalid-feedback" id="timeError" style="display: none;">
                                                請選擇活動舉辦時間!
                                            </div> *@
                                        </div>

                                        <!-- 主辦與協辦單位 -->
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4 class="essential-input">主辦單位</h4>
                                                <input type="text" class="form-control h-50" id="MainOrganizerInput" v-model="mainOrganizerInput" placeholder="請輸入主辦單位名稱">
                                                <div class="invalid-feedback">
                                                    主辦單位名稱不可為空白!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="mb-3">
                                                <h4 asp-for="CoOrganizer">協辦單位</h4>
                                                <input type="text" class="form-control h-50" id="formGroupExampleInput" v-model="coOrganizer" placeholder="若您的活動需告知協辦單位，請在此填寫">
                                            </div>
                                        </div>

                                        <!-- 活動人數 -->
                                        <div class="section">
                                            <h4>活動人數</h4>
                                            <input type="number" value="30" min="10" max="1000" step="10" class="number-of-people" v-model="number">
                                            <input type="checkbox" name="" class="unlimited" v-model="unlimited">不限定數量
                                        </div>

                                        <!-- 活動形式：線上則活動地址欄，實體則關線上選項欄 -->
                                        <div class="section">
                                            <h4>活動形式</h4>
                                            <select class="form-select h-50" v-model="eventStatus"  id="EventStatus">
                                                <option value="1" >實體活動</option>
                                                <option value="0">線上活動</option>
                                            </select>
                                        </div>

                                        <!-- 實體活動＆地址欄（有地圖） -->
                                        <div class="place-section" v-if="eventStatus === 1">
                                            <div class="section">
                                                <h4 class="essential-input">場地名稱</h4>
                                                <input type="text" class="form-control h-50" v-model="placeName" id="LocationName" placeholder=" ">
                                                <div class="invalid-feedback">場地名稱不可空白唷!</div>
                                            </div>
                                            <div class="section">
                                                <h4 class="essential-input">活動地址</h4>
                                                <input type="text" class="form-control w-50 h-50" id="EventAddress" v-model="eventAddress" placeholder=" ">
                                                <button type="button" class="h-25 btn btn-outline-secondary " id="upadte-map" @@click="geocode">更新地圖</button>
                                
                                            </div>

                                            <div id="map">
                                                
                                            </div>

                                            <span class="map-note">
                                                位置不對怎麼辦？您可以手動拖曳地圖上的標示，移動到指定位置
                                            </span>
                                        </div>

                                        <!-- 線上活動欄 -->
                                        <div class="online-section" v-if="eventStatus === 0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" v-model="streaming" name="flexRadioDefault" id="flexRadioDefault1" >
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    其他串流平台 (可於 主控台>活動地點 設定電子票券之線上活動連結)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" v-model="streamingUrl" name="flexRadioDefault" id="flexRadioDefault2"  checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    SHOWNEST Live
                                                    <span class="note">SHOWNEST Live 提供多元方案應援你的線上活動創意，點此查看詳情或請來信 biz@shownest.com 洽詢，將有專人提供報價</span>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- 活動簡介欄 -->
                                        <div class="section">
                                            <h4>活動簡介（填入100字以內的活動描述介紹你的活動吧！）</h4>
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="" v-model="introduction" id="floatingTextarea2" style="height: 100px"></textarea>
                                                <label for="floatingTextarea2">e.g. 今年陣容最堅強的演唱會。名額有限，錯過不再。快揪朋友一起報名！</label>
                                            </div>
                                            <span class="map-note">說明：輸入簡短活動描述能優化你的活動頁面，讓你的活動連結在社群網站分享時能更清楚宣傳你的資訊。<i class="fa-solid fa-circle-info"></i></span>
                                        </div>

                                        <!-- 描述欄位（CKeditor） -->
                                        <div class="section" id="ckeditor-area">
                                            <h4>描述</h4>
                                            <div id="editor"></div>
                                            <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor>
                                        </div>
                                    </div>


                                    <div class="other-setting">
                                        <!-- (右邊)圖片上傳區 -->

                                        <div class="section">
                                            <h4>社群分享圖片</h4>
                                            @*  <img :src="imgUrl" id="uploadedImage" > *@
                                            @* <input class="file-upload form-control form-control-sm" type="file" id="form-control-sm" > *@
                                            <div>
                                                <img :src="imgUrl">
                                                <a class="file-input">
                                                    <input class="file-upload form-control form-control-sm" type="file" id="form-control-sm" @@change="imgUpload">
                                                </a>
                                                @* <button class="btn btn-outline-secondary" accept="image/gif, image/jpeg, image/png" type="files" id="fileupload" @@change="imgUpload">選擇圖片</button>
                                                <button class="btn btn-outline-secondary" id="restoreImg" >還原圖片</button> *@
                                            </div>
                                        </div>
                                        <span class="note">請提供尺寸為600x400px以內 且 檔案格式為 png.、jpg. 之圖片。</span>

                                        <!-- 隱私設定區 -->
                                        <div class="section">
                                            <h4 asp-for="IsPrivate">活動隱私</h4>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" v-model="privacy" type="radio" value="0">
                                                <label class="form-check-label" for="inlineRadio1">公開</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" v-model="privacy" value="1" checked>
                                                <label class="form-check-label" for="inlineRadio2">私人</label>
                                            </div>
                                            <div>
                                                <span class="note">私人活動不會出現在我們的公開頁面。</span>
                                            </div>
                                        </div>

                                        <!-- 活動分類(標籤) -->
                                        <div class="section">
                                            <h4>活動分類</h4>
                                            <span class="note">請選擇1個分類。</span>
                                            <div class="tag-pool">
                                                @* todo *@
                                                <div v-for="(item, index) in categoryItems" :key="index" class="tag">
                                                    <input type="checkbox" :id="'category-' + index" v-model="selectedCategories" :value="item">
                                                    <label :for="'category-' + index" href="./Events/Index" class="categories-tag">{{ item }}</label>
                                                </div>
                                                @* <div>
                                                    已選擇的項目：{{ selectedCategories }}
                                                </div> *@
                                            </div>
                                           
                                        </div>


                                    </div>
                                </div>
                               @*  <button class="btn btn-success" v-on:click="CreateAndEditEvent" onclick="window.location.href='@Url.Action("", "")'">submit</button> *@
                                <div class="pages-change">
                                    <button type="button" class="btn btn-outline-secondary" @@click="stepButton = 1" >上一頁</button>
                                    <button type="submit" class="btn btn-outline-secondary" value="Upload" @@click="handleClick">下一頁</button>
                                </div>
                            </div>
                        </div>
                    </template>

                    @* 第三頁 *@
                    <template v-slot:item.3>
                        <div class="wrap" id="SetTicket">
                            <div class="header-title">
                                <div class="organize">
                                    組織名稱
                                </div>
                                <div class="Orgname">
                                    @* {{OrgName}} *@
                                    Build School
                                </div>
                            </div>
                            <div class="container">
                                <div class="ticketTable">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="color-label"></th>
                                                <th scope="col">票種名稱</th>
                                                <th scope="col">販售時間</th>
                                                <th scope="col">價格</th>
                                                <th scope="col">數量</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>

                                        @*  =================Ticket Edit============= *@
                                        <tbody>
                                            <tr>
                                                <td class="color-label"></td>
                                                <td>
                                                    <div>
                                                        <v-text-field hide-details="auto"
                                                            label="" 
                                                            variant="outlined"
                                                            v-model="ticketTypeInput"></v-text-field>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="date" class="date-local" v-model="TicketStartTime">
                                                    <span>至</span>
                                                    <input type="date" class="date-local" v-model="TicketEndTime">
                                                </td>
                                                <td>
                                                    TWD$
                                                    <input type="text" v-model="Money" class="form-control h-25 w-50 " id="formGroupExampleInput" placeholder=" ">
                                                </td>
                                                <td>
                                                    <input type="text" v-model="Amount" class="form-control h-25 w-50 " id="formGroupExampleInput" placeholder=" ">
                                                </td>
                                                
                                                <td>
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" id="submit" @@click="saveTicket">新增</button>
                                                    <button type="button" class="btn btn-outline-secondary btn-sm" id="cancel">取消</button>
                                                </td>
                                            </tr>
                                           @*  =====================使用者新增票種 (Create)*@
                                            <tr v-for="ticket in ticketDetail" :key="ticket.name">
                                                <td class="color-label"></td>
                                                <td>{{ ticket.type }}</td>
                                                <td>{{ ticket.startTime }} 至 {{ ticket.endTime }}</td>
                                                <td>TWD$ {{ ticket.price }}</td>
                                                <td>{{ ticket.quantity }}</td>
                                                <td>
                                                    <button class="delete" @@click="deleteTicket(ticket.type)">
                                                        <i class="fa-solid fa-x"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                            @* ===================票種生成（Read）================ *@
                                            <tr v-for="ticket in ticketDetail" :key="ticket.ticketTypeId">
                                                <td class="color-label"></td>
                                                <td>{{ ticket.ticketName }}</td>
                                                <td>{{ ticket.startSaleTime }} 至 {{ ticket.endSaleTime }}</td>
                                                <td>TWD$ {{ ticket.price }}</td>
                                                <td>{{ ticket.amount }}</td>
                                                <td>
                                                    <button class="delete" @@click="deleteTicket(ticket.type)">
                                                        <i class="fa-solid fa-x"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>

                                        

                                        @* <button class="btn btn-success" v-on:click="CreateAndEditEvent">submit</button> *@
                                    </table>


                                </div>
                                @* <button type="button" class="btn btn-outline-secondary btn-sm" id="add-ticket">新增票種</button> *@
                            </div>

                            <div class="pages-change">
                                <button type="button" class="btn btn-outline-secondary" @@click="stepButton = 2">上一頁</button>
                                <button type="button" class="btn btn-outline-secondary"  v-on:click="CreateAndEditEvent">確認送出</button>
                            </div>
                        </div>
                    </template>

                </v-stepper>
            </v-container>
        </v-app>
    </div>

    @section Scripts {
        
        <!-- 引入 Vue 3 -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
        <!-- 引入 vue3-draggable -->
        <script src="https://www.unpkg.com/vuedraggable@4.1.0/dist/vuedraggable.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@ckeditor/ckeditor5-build-classic@41.3.0/build/ckeditor.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@@ckeditor/ckeditor5-vue@5.1.0/dist/ckeditor.min.js"></script>
        <script src="~/lib/vuetify/vuetify.min.js"></script>
        <script src="/js/Dashboard/CreateEvent.js" asp-append-version="true"></script>
        @* <script src="~/js/map.js"></script> *@
        
        <style scoped>
            .tag input[type="checkbox"] {
                border: none;
                width: 0;
                height: 0;
            }
        </style>
    }
</body>



