@model int

@{
    ViewData["Title"] = "OrgGeneralInfo";
}

@section topCSS {
    <link href="~/css/_partial/_dashborard_sidemenu_partial.css" rel="stylesheet" />
    <link href="~/css/Dashboard/OrgGeneralInfo.css" rel="stylesheet" />
}




<section id="OrgGeneralInfo" class="d-flex section_wrap">
    <div class="sideBarMenu">
        <nav>
            @* <div class="dropdown" id="sidemenu-dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="publish-btn">
                    未發佈
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">發佈活動</a></li>
                </ul>
            </div> *@

            <div><a href="/Events/EventPage/@Model"><i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>活動公開頁面</a></div>
            <div><a href="/Dashboard/Events/@Model/Overview"><i class="fa-solid fa-gauge-simple"></i>活動主控台</a></div>
            @* <p>活動資訊</p>
            <div><a href="#"><i class="fa-solid fa-users fa-sm"></i>報名人列表</a></div>
            <div><a href="#"><i class="fa-solid fa-cart-arrow-down fa-sm"></i>訂單</a></div>
            <div><a href="#"><i class="fa-regular fa-clipboard fa-sm"></i>簽到簿</a></div>

            <p>活動設定</p> *@
            <div><a href="/Dashboard/Events/@Model/GeneralInfo"><i class="fa-solid fa-circle-info fa-sm"></i>基本資料</a></div>
            @*                 <div><a href="#"><i class="fa-solid fa-location-dot fa-sm"></i>活動地點</a></div>
            <div><a href="#"><i class="fa-solid fa-tags fa-sm"></i>票種資訊</a></div>
            <div><a href="#"><i class="fa-regular fa-pen-to-square fa-sm"></i>報名表單</a></div>
            <div><a href="#"><i class="fa-solid fa-envelope fa-sm"></i>通知信件</a></div>
            <div><a href="#"><i class="fa-solid fa-circle-arrow-up fa-sm"></i>升級活動</a></div>
            *@
        </nav>
    </div>

    <div id="app" class="main-content" event-id="@Model">
        <header class="org_header">
            <span class="org-name">活動名稱</span>
            <span class="org-title bold">{{eventName}}</span>
        </header>
        <div class="org-info-title">
            <h2 class="general-title">一般資訊</h2>
            <button class="btn btn-success" orgId="@Model"><i class="fa-regular fa-pen-to-square"></i>編輯</button>
        </div>

        <div class="info-container">
            <div class="information">
                <div class="orgName gap">
                    <div class="info-title"><label>活動名稱</label></div>
                    <div class="description"><p>{{eventName}}</p></div>
                </div>
                <div class="gap">
                    <div class="info-title"><label>舉辦時間</label></div>
                    <div class="description"><p>{{eventTime}}</p></div>
                </div>
                <div class="gap" v-if="organizer">
                    <div class="info-title"><label>主辦單位</label></div>
                    <div class="description"><p>{{organizer}}</p></div>
                </div>
                <div class="gap" v-if="coOrganizer">
                    <div class="info-title"><label>主辦單位</label></div>
                    <div class="description"><p>{{coOrganizer}}</p></div>
                </div>
                <div class="gap">
                    <div class="info-title"><label>活動人數</label></div>
                    <div class="description"><p>{{capacity}}</p></div>
                </div>
                <div class="gap">
                    <div class="info-title"><label>活動形式</label></div>
                    <div class="description"><p>{{eventType}}</p></div>
                </div>
                <div class="gap" v-if="eventBrief">
                    <div class="info-title"><label>簡介</label></div>
                    <div class="description"><p>{{eventBrief}}</p></div>
                </div>
                <div class="gap" v-if="eventDescription">
                    <div class="info-title"><label>描述</label></div>
                    <div class="description"><p v-html="eventDescription"></p></div>
                </div>
            </div>
            <div class="advancedSetting">
                <div class="orgName gap">
                <div class="info-title"><label>圖像</label></div>
                <div class="img-container"><img :src="eventImg"></div>
                </div>
                <div class="gap">
                    <div class="info-title"><label>地圖</label></div>
                    <p>{{eventLocation}}</p>
                    <div id="map"></div>
                </div>             
            </div>
        </div>
    </div>
</section>



@section endJS {
    <script src="~/js/dashboard/eventgeneralinfo.js"></script>
}