@{
    ViewData["Title"] = "OrgAccount";
}


@section topCSS {
    <link href="~/css/_partial/_dashborard_sidemenu_partial.css" rel="stylesheet" />
    <link href="~/css/Dashboard/OrgAccount.css" rel="stylesheet" />

}



<section id="OrgAccount" class="d-flex section_wrap">
    <div class="sideBarMenu">
        <nav>
            <div><a asp-controller="Organizations" asp-action="Index"><i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>組織公開頁面</a></div>            <div><a href="?viewType=Overview"><i class="fa-solid fa-users fa-sm"></i>活動列表</a></div>
            <div><a href="?viewType=OrgAccount"><i class="fa-solid fa-cart-arrow-down fa-sm"></i>組織帳務</a></div>
            <p>組織設定</p>
            <div><a href="?viewType=OrgGeneralInfo"><i class="fa-solid fa-circle-info fa-sm"></i>一般資訊</a></div>
            <div><a href="?viewType=OrgAuthority"><i class="fa-solid fa-tags fa-sm"></i>權限管理</a></div>
        </nav>
    </div>

<div class="main-content">
    <header class="org_header">
        <span class="org-name">組織名稱</span>
        <span class="org-title">深夜九點半搶銀行</span>
    </header>
    <div class="event-list-title">
        <button class="btn btn-success"><i class="fa-solid fa-arrow-left"></i></button>
        <h2 class="content-title">申請撥款</h2>
    </div>
    <div class="org-name gap">
        <h2>深夜九點半搶銀行</h2>
    </div>
    <div class="priceContainer">
        <div class="AmountPrice">
            <div class="currentAmount flex gap">
                <p>本次撥款金額</p>
                <p>TWD$308,600</p>
            </div>
            <div class="col-1lection-fee flex gap">
                <p>代收手續費</p>
                <p class="redMark">TWD$8,516</p>
            </div>
            <div class="border"></div>
            <div class="Amount flex gap">
                <p>撥款金額</p>
                <p class="bold">TWD$290,084</p>
            </div>
            <div class="deposit-fee flex gap">
                <p>入帳手續費</p>
                <p class="redMark">TWD$-30</p>
            </div>
            <div class="border"></div>
            <div class="amount-posted flex gap">
                <p>入帳金額</p>
                <p class="bold">TWD$290,054</p>
            </div>

            <div class="atm-account bold gap">
                <p>銀行帳號</p>
            </div>
            <div class="account-name space gap">
                <p class="pad bold">戶名</p>
                <p class="pad">頭哥</p>
            </div>
            <div class="light-border"></div>
            <div class="account-number space gap">
                <p class="pad bold">帳號</p>
                <p class="pad">1234567890</p>
            </div>
            <div class="light-border"></div>
            <div class="bank-name space gap">
                <p class="pad bold">銀行名稱</p>
                <p class="pad">Bankruptcy Bank</p>
            </div>
            <div class="light-border"></div>
            <div class="bank-branch space gap">
                <p class="pad bold">分行名稱</p>
                <p class="pad">信義分行</p>
            </div>
            <button class="btn btn-primary">申請撥款</button>


        </div>
        <div class="caption">
            <div class="blue-wrap">
                <h2 class="gap">撥款注意事項</h2>
                <p>撥款需要7~15個工作天，撥款完畢後會開立手續費發票，寄送到貴單位的發票寄送地址。</p>
            </div>
        </div>
    </div>
    <div class="payment-list">
        <h2 class="title">撥款訂單列表</h2>
        <div class="list ">
            <div class="title-container bold gap">
                <div class="title-names pad col-1">
                    <p>訂單編號</p>
                </div>
                <div class="name pad col-1">
                    <p>聯絡人姓名</p>
                </div>
                <div class="email pad col-1">
                    <p>聯絡人E-mail</p>
                </div>
                <div class="phone pad col-1">
                    <p>聯絡人電話</p>
                </div>
                <div class="payment pad col-1">
                    <p>付款方式</p>
                </div>
                <div class="conunt pad col-1">
                    <p>票數</p>
                </div>
                <div class="fee pad col-1">
                    <p>手續費</p>
                </div>
                <div class="price pad col-1">
                    <p>金額</p>
                </div>
            </div>
            <div class="w-90 border"></div>
            <div class="paymentInfo gap ">
                <div class="idNumber pad col-1">
                    <p>R83419</p>
                </div>
                <div class="name pad col-1">
                    <p>凃翡</p>
                </div>
                <div class="email pad col-1">
                    <p>1234@gmail.com</p>
                </div>
                <div class="phone pad col-1">
                    <p>0912345678</p>
                </div>
                <div class="payment pad col-1">
                    <p>信用卡</p>
                </div>
                <div class="count pad col-1">
                    <p>1</p>
                </div>
                <div class="fee pad col-1">
                    <p>15</p>
                </div>
                <div class="price pad col-1">
                    <p>TWD$308,600</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
