@model HomeViewModel

@{
    ViewData["Title"] = "Home";
    var tag1Activities = Model.MainSectionTag1Cards;
    var tag2Activities = Model.MainSectionTag2Cards;
    var tag3Activities = Model.MainSectionTag3Cards;
    var subActivities = Model.SubSectionCards;
    @* var myModel = System.Text.Json.JsonSerializer.Serialize(focusedActivities); *@
}

@section topCSS {
    <link rel="stylesheet" href="~/css/Index/home_style.css">
    <link rel="stylesheet" href="~/css/_Partial/_EventCards_Partial.css">
}

@section EndJS {
    <script src="~/js/home/index.js"></script>
}

<!-- event-slides -->
<section>
    <div id="event-slides" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#event-slides" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#event-slides" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#event-slides" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @foreach (var homeCarouselsModel in Model.HomeCarousels)
            {
                @await Html.PartialAsync("~/PartialViews/Home/_CarouselImg_Partial.cshtml", homeCarouselsModel)
                ;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#event-slides" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#event-slides" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- categories -->
<section id="categories-section">
    <div id="categories" class="width">
@*         <a href="">依興趣找活動</a> *@
        <a asp-controller="Events" asp-action="Index" category-id="1"><i class="fa-solid fa-headphones"></i>音樂</a>
        <a asp-controller="Events" asp-action="Index" category-id="2"><i class="fa-solid fa-hands-clapping"></i>戲劇</a>
        <a asp-controller="Events" asp-action="Index" category-id="3"><i class="fa-solid fa-landmark"></i>展覽</a>
        <a asp-controller="Events" asp-action="Index" category-id="4"><i class="fa-solid fa-film"></i>電影</a>
        <a asp-controller="Events" asp-action="Index" category-id="6"><i class="fa-solid fa-utensils"></i>美食</a>
        <a asp-controller="Events" asp-action="Index" category-id="7"><i class="fa-solid fa-shoe-prints"></i>運動</a>
        <a asp-controller="Events" asp-action="Index" category-id="0"><i class="fa-solid fa-star-half-stroke"></i>更多分類</a>
    </div>
</section>
<!-- annoucement -->
<section>
    <div id="annoucement" class="width">
        <ul>
            <li><i class="fa-solid fa-circle-exclamation"></i><a href="">活動異動公告一覽表</a></li>
        </ul>
    </div>
</section>
<!-- cards -->
<section>
    <div id="main-card-group" class="cards-wrap width">
        <h2>讓精彩活動豐富你的每日行事曆</h2>
        <ul class="cards-type-tags nav-fill nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="focused-tab" data-bs-toggle="tab" data-bs-target="#focused" type="button"
                    role="tab" aria-controls="focused" aria-selected="true">焦點演唱會</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="selected-tab" data-bs-toggle="tab" data-bs-target="#selected" type="button"
                    role="tab" aria-controls="selected" aria-selected="false">精選展覽</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="featurerd-tab" data-bs-toggle="tab" data-bs-target="#featurerd" type="button"
                    role="tab" aria-controls="featurerd" aria-selected="false">特色戲劇</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="focused" role="tabpanel" aria-labelledby="focused-tab">
                <div class="cards">
                    @foreach (var card in tag1Activities)
                    {
                        @await Html.PartialAsync("~/PartialViews/_EventCards_Partial.cshtml", card)
                        ;
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="selected" role="tabpanel" aria-labelledby="selected-tab">
                <div class="cards">
                    @foreach (var card in tag2Activities)
                    {
                        @await Html.PartialAsync("~/PartialViews/_EventCards_Partial.cshtml", card)
                        ;
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="featurerd" role="tabpanel" aria-labelledby="featurerd-tab">
                <div class="cards">
                    @foreach (var card in tag3Activities)
                    {
                        @await Html.PartialAsync("~/PartialViews/_EventCards_Partial.cshtml", card)
                        ;
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promote cards -->
<section>
    <div class="cards-wrap width d-flex flex-column">
        <div class="h3-wrap">
            <h3>熱門電影活動</h3>
        </div>
        <div class="cards">
            @foreach (var card in subActivities)
            {
                @await Html.PartialAsync("~/PartialViews/_EventCards_Partial.cshtml", card)
                ;
            }
        </div>
    </div>
</section>
<!-- more events button -->
<section class="d-flex flex-column">
    <a asp-controller="Events" asp-action="Index" id="more-events-button">探索更多活動<span>>></span></a>
</section>
<!-- event place -->
<section id="event-place-section">
    <div class="width">
        <h3>合作場館</h3>
        <div id="event-places" class="d-grid">
            <a href="~/Organizations/Index/OrganizationId%3D2">
                <img src="https://res.cloudinary.com/do2tfk5nk/image/upload/v1708967314/comedyclub_fpyevs.png"
                    alt="">卡米地</a>
            <a href="~/Organizations/Index/OrganizationId%3D1">
                <img src="https://res.cloudinary.com/do2tfk5nk/image/upload/v1714131911/ShowNestImg/not_bs_logo_white_pzckur.png"
                    alt="">Build School</a>
            <a href="~/Organizations/Index/OrganizationId%3D3">
                <img src="https://res.cloudinary.com/do2tfk5nk/image/upload/v1708967313/kafka_i16juc.png"
                    alt="">海邊的卡夫卡</a>
            <a href="~/Organizations/Index/OrganizationId%3D75">
                <img src="https://res.cloudinary.com/do2tfk5nk/image/upload/v1708967313/theuumouth_l2cbfk.png"
                    alt="">樂悠悠之口</a>
        </div>
    </div>
</section>

@* <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
const { createApp } = Vue

createApp({
data() {
return {
tabs: [
{ id: 1, name: '焦點活動'},
{ id: 2, name: '精選活動'},
{ id: 3, name: '特色活動'},
],
activities: @Html.Raw(@myModel),
selectedTab: null,
}
},
mounted(){
this.selectedTab = this.tabs[0]
},
methods:{
selectTab(tab){
this.selectedTab = tab
}
}
}).mount('#main-card-group')


const myModel = @Html.Raw(@myModel);
console.log(Array.isArray(myModel));
</script> *@