<div class="progress_container">
    <div class="step_progress_bar" id="step_progress_bar">
        <span class="step progressing">
            <span class="number ">1</span>
            <p class="step_text">選擇票種</p>
        </span>
        <span class="step">
            <span class="number ">2</span>
            <p class="step_text">劃位</p>
        </span>
        <span class="step">
            <span class="number">3</span>
            <p class="step_text">填寫表單</p>
        </span>
        <span class="step">
            <span class="number">4</span>
            <p class="step_text">取票繳費</p>
        </span>
    </div>
</div>