@using ShowNest.Web.ViewModels.Events;
@model TicketTypeSelectionViewModel;
@{
    ViewData["Title"] = "TicketTypeSelection";
}

@section topCSS {
    <link href="~/css/Events/TicketTypeSelection.css" rel="stylesheet"/>
    <link href="~/css/_Partial/_PurchaseStepsPartial.css" rel="stylesheet"/>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.45/moment-timezone-with-data.js"></script>
    <script src="~/js/Events/TicketTypeSelectionVue.js" asp-append-version="true"></script>
}

<div id="app">
    <div class="event-img-bgc" v-if="ticketTypeSelection.eventDetail">
        <div class="event-img width">
            <img :src="ticketTypeSelection.eventDetail.mainImage" alt="Event Main Image">
        </div>
    </div>

    <div class="wrap width" v-if="ticketTypeSelection.eventDetail">
        <div class="event-name">
            <h2>{{ ticketTypeSelection.eventDetail.eventName }}</h2>
        </div>
        <div class="event-detail">
            <table>
                <tr>
                    <th>開始時間</th>
                    <td>
                        {{toFormatDate(ticketTypeSelection.eventDetail.startTime)}}
                        <a id="add-to-calendar"
                           @@click="onAddToGoogleCalendarClicked">
                            加入行事曆
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>活動地點</th>
                    <td>
                        {{ticketTypeSelection.eventDetail.eventLocation}}
                        <a id="view-the-map"
                           @@click="onViewMapClicked">
                            檢視地圖
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>主辦單位</th>
                    <td>{{ticketTypeSelection.eventDetail.eventHost}}</td>
                </tr>
                <tr>
                    <th>票劵類型</th>
                    <td>{{ticketTypeSelection.eventDetail.ticketCollectionChannel}}</td>
                </tr>
                <tr>
                    <th>付款方式</th>
                    <td>{{ticketTypeSelection.paymentMethods[0].paymentMethodName}}</td>
                </tr>
                <tr>
                    <th>客戶服務</th>
                    <td>請聯絡 <a href="mailto:support@shownest.com">SHOWNEST</a></td>
                </tr>
            </table>
        </div>
        <div class="progress_container" v-if="eventHasSeats">
            @await Html.PartialAsync("_PurchaseStepsPartial", new List<StepStatusViewModel>
            {
                new StepStatusViewModel {InProgress = false, IsDisabled = true},
                new StepStatusViewModel {InProgress = false, IsDisabled = true},
                new StepStatusViewModel {InProgress = true, IsDisabled = false},
                new StepStatusViewModel {InProgress = false, IsDisabled = false}
            })
        </div>
        <div class="progress_container" v-if="!eventHasSeats">
            @await Html.PartialAsync("_PurchaseStepsPartialWithoutSeats", new List<StepStatusViewModel>
            {
                new StepStatusViewModel {InProgress = true, IsDisabled = false},
                new StepStatusViewModel {InProgress = false, IsDisabled = false},
                new StepStatusViewModel {InProgress = false, IsDisabled = false}
            })
        </div>
        <div class="seats-areas-chart" v-if="eventHasSeats">
            <img :src="ticketTypeSelection.eventDetail.seatAreaImage" alt="Event Seat Area Image">
        </div>
        <div class="ticket-price-table">
            <div class="ticket-price-title">
                <div class="ticket-type">
                    <p>票種</p>
                </div>
                <div class="seats-select-type" v-if="eventHasSeats">
                    <p>座位</p>
                </div>
                <div class="the-price">
                    <p>票價</p>
                </div>
            </div>
            <div class="ticket-data-row" v-for="ticketPriceRow in ticketTypeSelection.ticketPriceRow">
                <div class="area">
                    {{ticketPriceRow.tickets.ticketTypeName}}
                    <span>{{ticketPriceRow.seatArea}}</span>
                </div>
                <div class="select-type" v-if="eventHasSeats">{{ticketPriceRow.seatSelectionMethod}}</div>
                <div class="ticket-price">{{ticketPriceRow.tickets.ticketPrice}}</div>
                <div class="amount">
                    <input id="btn-minus" type="button" value="-" @@click="onTicketPriceRowClicked(ticketPriceRow, -1)">
                    <input type="number" name="ticket-amount" id="input-ticket-amount" v-model="ticketPriceRow.tickets.purchaseAmount">
                    <input id="btn-plus" type="button" value="+" @@click="onTicketPriceRowClicked(ticketPriceRow, 1)">
                </div>
            </div>
        </div>
        <div class="agreement">
            <input class="form-check-input" type="checkbox" name="service-and-privacy-agreement" id="agreement" v-model="isAgreed">
            <label class="form-check-label" for="agreement">我已經閱讀並同意<a href=""> 服務條款 </a>與<a href=""> 隱私權政策 </a></label>
        </div>

    </div>
    <div class="btn-next-step width">
        <a @@click="onNextStepClicked">下一步</a>
    </div>
</div>