@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section topCSS {
    <link href="~/css/share/reset.css" rel="stylesheet" />
    <link href="~/css/account/changepassword.css" rel="stylesheet" />
}

<body>

    <section class="section_wrap">
        <div id="ChangePassword" class="main-wrap ">

            <!-- Insert Navigation -->
            <!--  Account Navigation -->
            <ul class="nav nav-tabs mt-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="UserEdit">帳號設定</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Prefills">報名預填資料</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#">修改密碼</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Identities">身份認證</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Orders">個人帳務清單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="JoinedOrganizations">成為粉絲的組織</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ReclaimOrders">訂單歸戶</a>
                </li>
            </ul>
            <!-- Account Navigation End-->
            <!----------- Title------------>
            <div class="title">
                <h2 id="title">修改密碼</h2>
            </div>

            <!----------- Form------------>
            <form id="change_password" action="">
                <div class="main-form">
                    <div class="content-wrapper">
                        <div class="form_contaner">
                            <!-- ----------------------目前密碼----------------  -->
                            <label for="password">
                                <abbr title="required">*</abbr>
                                目前密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="password" type="password">
                            </div>
                            <!-- ---------------------- 新密碼----------------  -->
                            <label for="new-password">
                                <abbr title="required">*</abbr>
                                新密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="new-password" type="password">
                            </div>
                            <!-- ---------------------- 確認新密碼----------------  -->
                            <label for="confirm-password">
                                <abbr title="required">*</abbr>
                                確認新密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="confirm-password" type="password">
                            </div>
                        </div>
                        <!-- ---------------儲存個人資料按鈕-------------- -->
                    </div>
            </form>
            <div class="border"></div>
            <div class="div-wrap">
                <div class="btn-save">
                    <button type="button" class="btn"
                        style="background-color:var(--main-green);color: white;border:none;">
                        修改密碼
                    </button>
                </div>
            </div>
        </div>
    </section>



</body>