@using ShowNest.Web.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}

@section topCSS {
    <link rel="stylesheet" href="~/css/Account/LogIn.css">
}
<script src="https://accounts.google.com/gsi/client" async defer></script>

<div class="wallpaper">

    <div class="container">
        <div class="wrap">
            <div class="tab">
                <div class="log-in">登入</div>
                <div class="sign-up"><a asp-controller="Account" asp-action="SignUp">註冊</a></div>
            </div>
            <div class="input-area">

                <form method="post" asp-controller="Account" asp-action="LogIn">
                    <div class="user-name-or-email">
                        <input id="account" type="text" name="Account" placeholder="使用者名稱或 email" required>
                    </div>
                    <div class="passwords">
                        <input id="password" type="password" name="Password" minlength="8" required placeholder="密碼" />
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" name="eventId" value="@Context.Request.Query["eventId"]" />
                    <div class="submit"><input type="submit" value="登入" /></div>

                </form>
                
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info">
                        @TempData["Message"]
                    </div>
                }

                <div class="forget-passwords"><a asp-controller="Account" asp-action="ForgetPassword">忘記密碼</a></div>
                <div class="other-log-in-methods">使用第三方帳號進行登入</div>
                <div class="third-party-log-in">

                    <div id="g_id_onload"
                         data-client_id="674030001662-o9lopaeeoom0hu2o4ekci7h7d33fs6rv.apps.googleusercontent.com"
                         data-login_uri="https://localhost:7156/Account/ValidGoogleLogin"
                         data-auto_prompt="false">
                    </div>
                    <div class="g_id_signin"
                         data-type="standard"
                         data-size="large"
                         data-theme="outline"
                         data-text="sign_in_with"
                         data-shape="rectangular"
                         data-logo_alignment="left">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
