
body {
   
}


* {
    box-sizing: border-box;
}

/* main Body */
.count_down_group {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.main_wrap {
    margin: 20px auto;
    line-height: 1.5em;
    width: 80%;
}

.count_down_timer {
    background-color: #DB4455;
    color: #fff;
    line-height: 2.5em;
    border-radius: 4px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1;
    color: var(--dark-gray);
}

label {
    font-weight: bold;
    padding: 8px 0;
}

.control-group {
    margin-bottom: 15px;
}
/*-----collapse group-----*/
.collapse_group {
    padding-bottom: 10px;
}
.event_detail_collapse {
    color: var(--main-green);
}

    .event_detail_collapse.btn.collapsed::after {
        content: "▵";
        left: -5px;
    }

    .event_detail_collapse.btn::after {
        content: "▿";
        left: -5px;
    }

    .event_detail_collapse:focus,
    .btn:focus,
    .btn:active:focus,
    .event_detail_collapse.btn:hover {
        box-shadow: none;
        background-color: transparent;
    }

.collapse a {
    color: var(--main-green);
    text-decoration: none;
}

    .collapse a:hover {
        color: var(--light-green);
    }

.collapse th {
    padding: 2px 15px 2px 0;
    color: var(--dark-gray);
    min-width: 75px;
    font-weight: bold;
}

.collapse td {
    padding: 2px 0 2px 15px;
    font-weight: 400;
}

.collapse tr {
    display: table-row;
    vertical-align: top;
    color: #333333;
}

.btn_cancel.btn {
    box-shadow: 0px 0px 2px 1px var(--light-gray);
    margin-right: 5px;
    color: #333333;
}

 .btn_cancel:hover {
     background-color: var(--light-gray);
 }

    .btn:hover:first-child {
        background-color: transparent;
    }

/*progress_container*/
.progress_container {
    padding-bottom: 20px;
}

.order_details {
    padding-top: 20px;
    padding-bottom: 20px;
}

    .order_details ul {
        list-style: none;
    }

    .order_details tr {
        display: table-row;
        vertical-align: top;
        color: #333333;
    }

.highlight th {
    background-color: hsla(60, 100%, 50%, 0.104);
}

.highlight td {
    background-color: hsla(60, 100%, 50%, 0.104);
}

.table thead {
    font-weight: bold;
}

tr.gray_block th {
    background-color: var(--dark-gray);
    color: white;
}



th.ticket_type {
    padding-left: 20px;
}

td.ticket_name {
    padding-left: 20px;
}

td.price_total {
    text-align: right;
    color: var(--dark-gray);
    font-weight: 300;
    padding-right: 20px;
}

td.price_count span {
    text-align: right;
    padding-left: 150px;
}

.cart_ticket_list_subtable_with_seat tr {
    color: var(--dark-gray);
    font-weight: 300;
}

.seat_detail_group {
    display: flex;
   justify-content:space-between;
}



th.price {
    text-align: right;
    padding-right: 20px;
}

th.total {
    padding-left: 20px;
    font-weight: bold;
}

td.tfoot_price_total {
    text-align: right;
    padding-right: 20px;
    min-width:76px
}

.contact_info input {
    width: 50%;
}

a {
    text-decoration: none;
}

abbr {
    color: #c07525;
}

.contact_info {
    background: #fff;
    border-left: #00aed6 40px solid;
    padding: 15px 15px 5px;
    position: relative;
    padding-bottom: 30px
}

    .contact_info:before {
        content: '\f007';
        font-family: 'FontAwesome';
        font-weight: normal;
        color: #fff;
        position: absolute;
        display: block;
        width: 40px;
        text-align: center;
        top: 50%;
        left: -40px;
        font-size: 26px;
        margin-top: -17px
    }

.registration_info {
    padding-bottom: 20px;
}

.control-group label {
    cursor: pointer;
}

span.formError {
    color: hsl(31, 68%, 45%);
}

.input-group-sm {
    padding-bottom: 8px;
}

.btn_save {
    display: flex;
    justify-content: center;
    padding:20px;
}

a.btn_save {
    min-width: 293px;
    padding:10px 70px;
}

.section_wrap {
    /*width: 100%;*/
    /*max-width: 1200px;*/
    margin: 0 auto;
}


@media screen and (max-width:900px) {

    .title {
        text-align: center;
        line-height: 1.5;
    }

    .contact_info input {
        width: 100%;
    }

    .count_down_timer {
        width: 100%;
        max-width: 1070px;
        line-height: 1.5;
        flex-wrap: wrap;
        align-content: center;
        padding: 10px;
        min-width: 254px;
    }

    /* -------save button--------- */
    .btn_save {
     width:100%
    }
    .btn_submit.btn {
        border: 5px solid var(--light-gray);
    }

    a#btn_save {
        width: 100%;
        display: block;
        font-size: 1.2rem;
        border-radius: var(--common-border-radius);
    }

    .save_group {
        padding: 10px;
    }
    
    td.ticket_name {
        padding-left: 20px;
        width: 100%;
        display: block;
    }

    td.price_count span {
        padding-left: 50px;
    }

    .seat_detail_group {
        display: flex;
    }

}

@media screen and (max-width:768px) {
    body {
        position: relative;
    }

    .section_wrap {
        max-width: 960px;
    }
    .collapse td{
        padding:0px;
    }
    th {
        min-width:80px;
        padding: 5px 0;
    }

        th.seat {
            display: none
        }

    table {
        display: table;
        width: 100%
    }

    td.price_total,
    td.ticket_name,
    li.seat-info,
    td.price_count,
    td.ticket-data,
    tr.gray_block {
        display: block;
    }

    td.price-count,
    td.price-total {
        width: 50%;
    }

    td.ticket_name{
        background-color: var(--light-gray);
        width: 100%
    }

    table.ticket_table_data_list tr {
        display: block;
        width: 100%;
        overflow: hidden
    }

    .highlight td:nth-last-of-type(2) {
        display: none;
    }

    td.price_count,
    td.price_total {
        border-top: #ddd 1px solid;
    }

    tbody {
        width: 100%;
        display: table-row-group;
    }

    .ticket-data td {
        padding: 10px 0;
    }

    li.seat-info {
        padding-left: 10px;
    }

    td.price_count span {
        text-align: left;
        padding-left: 10px;
    }

    th.total,
    td.tfoot_price_total {
        width: 10%;
        display: table-cell;
    }
    th.total {
        min-width: 80px;
    }

    .seat_detail_group {
        display: flex;
        flex-direction: column;
    }

    th.price, th.ticket_type {
        width: 7%;
        display: table-cell;
    }
}
@media screen and (max-width:290px) {
    a.btn_save {
        min-width: 0;
        display:inline-block;
    }
    .btn_save{
        padding:0;
    }
}
