body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_stage_map {
    flex-grow: 1;
    background-color: #FFFFFF;
    overflow-x: auto;
}

.map_area {
    display: flex;
}

.map_area img {
    flex-grow: 1;
}