.progress_container {
    margin: 20px auto 0 auto;
}

.step_progress_bar {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
}

.step {
    min-width: 150px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    border-radius: 50px;
    position: relative;
    border: 3px solid rgb(218, 218, 218);
}

p.step_text {
    margin: 10px 0;
    color: var(--main-green);
    line-height: 2;
    width: 150px;
    vertical-align: middle;
    text-align: left;
    padding-left: 8px;
}

.number {
    margin-left: 10px;
    border-radius: 100%;
    line-height: 2;
    min-width: 30px;
    border: 1px solid var(--function-color-hover);
    background-color: white;
    color: var(--button-clicked-color);
    display: inline-block;
    transition: background-color 500ms;
}

.step.progressing {
    color: var(--main-green);
    background-color: var(--main-green);
    border: 3px solid var(--button-clicked-color);
}

.step.progressing p {
    color: white;
    font-weight: bold;
}

.step.progressing span {
    color: var(--function-color-hover);
}

.step.progressing::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: #b8b3b3;
    left: 100%;
    bottom: 43%;
    z-index: -1;
}

.step::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: #d9d9d9;
    left: 100%;
    bottom: 43%;
    z-index: -1;
    opacity: 0.5;
}

.step:last-child::after {
    display: none;
}

@media only screen and (max-width:768px) {

    .progress_container {
        width: 95%;
        margin: auto;
        padding: 20px 0;
    }

    .step_progress_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    .step {
        color: var(--button-clicked-color);
        border: none;
        padding: 10px 0px;
        border-radius: 0px;
    }

    .step:first-child {
        border-radius: 10px 10px 0 0;
    }

    .step:last-child {
        border-radius: 0 0 10px 10px;
    }

    p.step_text {
        margin-top: 15px;
        line-height: 0;
        text-align: left;
        padding-left: 8px;
        font-weight: normal;
    }

    .number {
        margin-left: 10px;
        border-radius: 100%;
        border: 1px solid var(--button-clicked-color);
        background-color: white;
        color: var(--button-clicked-color);
    }

    .step.progressing p {
        font-weight: bold;
    }

    .step.progressing {
        border: none;
    }

    .step.progressing::after {
        display: none;
    }

    .step::after {
        display: none;
    }

}