<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/general/shownest-root.css" rel="stylesheet" />
	<link href="~/css/general/shownest-eventpagefooter-style.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/d928366fbc.js" crossorigin="anonymous"></script>
	@await RenderSectionAsync("topCSS", required: false)
</head>
<body>

	@RenderBody()

	<footer id="footer">
		<div id="footer-end" class="d-flex align-items-center">
			<div id="loge">
				<a asp-controller="Home" asp-action="Index">
					<img src="~/img/dashboard/shownest-logo.png" alt="loge">
				</a>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("endJS", required: false)
</body>

</html>
