/*=====================CreateEvent======================*/

.ActivityContainer {
    flex-direction: column;
    min-height: 520px;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
    margin-top: 80px;
}

    .ActivityContainer > * {
        padding: 10px;
    }

    .ActivityContainer:not(h1,h3) {
        font-size: var(--main-font-size);
    }

.CreateEventTitle {
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 10px;
    color: var(--v-theme-surface-variant);
}

.select-organizer {
    font-size: 23px;
    font-weight: 200px;
}

/*drop-down*/
.v-input__control {
    display: flex;
    grid-area: control;
    max-height: 52px;
}

.eventItem {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: block;
}


/*all select option color*/
label.v-label {
    color: var(--v-theme-surface-variant);
}

div.v-selection-control-group {
    margin-bottom: 10px;
}

.activity-select > .notice {
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    padding: 10px;
    background-color: rgb(231, 229, 228);
    border-radius: 3px;
}

.lined {
    font-size: 18px;
    border-bottom: #666 1px solid;
    padding-bottom: 3px;
    margin: 20px 0 10px 0;
    font-weight: 400;
    text-align: left;
}


/*.evetItem {
    margin-top: 15px;
    margin-bottom: 10px;
}
*/
.TOSzone {
    margin-top: 20px;
}

    .TOSzone a {
        color: var(--light-green);
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
    }

.establishBtn {
    width: 70px;
    height: 35px;
    line-height: 10px;
    background-color: var(--light-green);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

/*========================SetEvent=======================*/
/* 組織名稱欄 */
.header-title {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

.organize {
    color: #999;
    line-height: 40px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 30px;
}

.name {
    line-height: 37px;
    font-size: 22px;
    color: var(--main-green);
}


/* 正式版面 */
html body #SetEvent .wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 90px;
}

html body #SetEvent #tabs {
    display: block;
    max-width: 1120px;
}

html body #SetEvent .container {
    color: #333333;
    margin-bottom: 90px;
    padding-right: 30px;
    padding-left: 30px;
}

/*內容*/
.dual-column-wrapper {
    display: flex;
    flex-direction: row;
}

/* 左半邊 */
.main-content {
    padding-right: 35px;
}


/* 所有小標 */
.essential-input, h4 {
    margin-bottom: 5px;
    padding: 3px;
    font-weight: bold;
}

/* 所有附註說明 */
.map-note {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    color: var(--light-green);
}

/* 所有必填欄位 */
.essential-input::before {
    content: "*";
    display: inline-block;
    color: #c07525;
    margin-right: 5px;
}

/* 所有小區塊 */
.online-section, .section {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* 所有radio文字 */

.form-check-label {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}


/*所有按鍵*/
.container > button {
    background-color: var(--main-green);
    color: #FFF;
}


/*網址長度*/
.mb-3 {
    margin-bottom: 0;
}

.input-group-text {
    font-size: 15px;
    padding: 6px;
}



#basic-url {
    max-width: 500px;
    line-height: 15px;
}


/*Boostrap change*/

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu)#basic-url {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.OK {
    color: var(--light-green);
    padding-top: 5px;
}


.date-time {
    font-size: 15px;
    line-height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: solid #ced4da 1px;
    color: #555555;
    width: 190px;
    border-radius: 5px;
}

.space {
    display: inline-block;
    margin: 8px;
}

.end-time {
    margin-top: 10px;
    margin-bottom: 10px;
}

.number-of-people {
    height: 30px;
    border: #ced4da 1px solid;
    border-radius: 5px;
}

.unlimited {
    margin-left: 13px;
    margin-right: 5px;
}

.form-control {
    display: inline-block;
    margin-right: 10px;
}

#update-map {
    display: inline-block;
}

#map {
    height: 400px;
    width: 100%;
}


.ck-editor__editable_inline {
    min-height: 300px;
}

/*#ckeditor-area {
    background-color:red;
    border-bottom: 1px solid #dee2e6
}*/



/* 右欄 */

.section > img {
    margin-bottom: 18px;
}

.section img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* 裁切圖片以填滿指定的大小 */
}

button.btn-outline-secondary {
    margin-right: 13px;
    background-color: var(--main-green);
    color: #fff;
}

.tag-pool {
    margin-top: 15px;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--light-green);
    line-height: 20px;
    font-size: 15px;
    padding: 3px;
    color: #f5f5f5;
    margin: 3px;
}

.tag:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.06);
    background-color: var(--light-green);
    cursor: pointer;
}

.pages-change {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*========================SetTicket===========================*/

/* 組織名稱欄 */
html body #SetTicket.header-title {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

html body #SetTicket.organize {
    color: #999;
    line-height: 40px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 30px;
}

html body #SetTicket.name {
    line-height: 37px;
    font-size: 22px;
    color: var(--main-green);
}

/* 表單 */
#SetTicket th {
    font-weight: bold;
    border-bottom: #999 solid 1px;
}

#SetTicket td > button {
    border: #ccc 1px solid;
    box-shadow: #f2f2f2 0 -3px 0 inset;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.33333333;
    border-radius: 2px;
    color: var(--main-green);
}

html body #SetTicket.delete {
    color: #b1564a;
    margin-left: 5px;
}

.ticketTable {
    flex-direction: column;
    margin-bottom: 30px;
}

#SetTicket td.color-label {
    background-color: #3dbad6;
    border-bottom: #3dbad6;
    height: 70px;
}

#SetTicket td {
    vertical-align: middle;
}

/*新增修改票種欄位*/
#SetTicket .changeTicketSection {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

#SetTicket .section {
    display: inline-block;
    max-width: 150px;
    margin: 15px;
}

.timeSection {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

#SetTicket .date-time {
    height: 35px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
}

#SetTicket.space .sectionTitle {
    font-weight: bold;
    line-height: 44px;
    align-items: center;
}

#SetTicket #submit, #cancel {
    border: #ccc 1px solid;
    box-shadow: #f2f2f2 0 -3px 0 inset;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.33333333;
    border-radius: 2px;
    color: var(--main-green);
}


#SetTicket #add-ticket {
    background-color: var(--light-green);
    border-color: #fff;
    color: #fff;
}

#SetTicket.btn-outline-secondary {
    margin-right: 10px;
}

#SetTicket > button.btn-outline-secondary {
    margin-right: 10px;
    background-color: var(--main-green);
    color: #fff;
}

/*===========================SetTable=======================*/


/* 正式版面 */
#SetTable .wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#SetTable.container {
    max-width: 0;
    color: #333333;
    flex-direction: column;
    margin-bottom: 90px;
    padding-right: 30px;
    padding-left: 30px;
}

.data-collection {
    margin-bottom: 25px;
}

.data-type {
    display: inline-block;
    margin: 15px;
    padding: 3px;
    font-weight: bold;
    border-bottom: #ccc solid 2px;
}

.data-log {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contact-person, .applicants {
    margin-bottom: 50px;
}

    .contact-person > h3, .applicants > h3 {
        display: block;
        padding: 10px;
        background-color: #edecec;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 5px;
    }

.table-log {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /*flex-direction: row;*/
}

.table-log .list-group {
    max-width: unset;
}

.contactInformationForm {
    margin-bottom: 0;
    border: #ccc solid 1px;
}


/* 小標粗體 */
    .contactInformationForm thead > tr {
        font-weight: bold;
        border-bottom: #ccc solid 1px;
        line-height: 30px;
        height: 2em;
        padding: 5px;
    }

    .contactInformationForm tbody > tr > td{
        line-height: 40px;
        height: 2em;
    }


    /*色標*/
    .contactInformationForm tbody > tr > th {
        background-color: #5ec4db;
        width: 35px;
    }

.contactInformationForm td .delete {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 2px;
    border: #ccc 1px solid;
    box-shadow: #f2f2f2 0 -3px 0 inset;
    background-color: #fff;
}

.contactInformationForm td .delete:hover {
    background-color: #f2f2f2;
}

.contactInformationForm td .delete i {
    color: #b1564a;
}



li.list-group-item:first-child {
    font-weight: bold;
}

.contactInformationForm td > span {
    color: #737373;
    margin-left: 15px;
}


.map-note {
    color: var(--main-green);
}

#SetTable.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    border: solid #b0b0b0 1px;
}

.list-group-item:nth-child(n+2) {
    height: 2.5em;
    line-height: 23px;
}

button.btn-outline-secondary {
    margin-right: 10px;
    background-color: var(--main-green);
    color: #fff;
}
