@media (min-width: 1280px) {
    .v-application .v-container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.ActivityContainer {
    flex-direction: column;
    min-height: 520px;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
    margin-top: 80px;
}

.ActivityContainer>*{
    padding: 10px;
    color: #333333;

}

.ActivityContainer:not(h1,h3){
    font-size: var(--main-font-size);
}

h2 {
    font-size: 28px;
    font-weight:500px;
    margin-bottom: 20px;
    color: var(--v-theme-surface-variant);
}

/*drop-down*/
.v-input__control {
    display: flex;
    grid-area: control;
    max-height: 52px;
}

.new-activity {
    margin-bottom: 10px;
}

/*all select option color*/
label.v-label {
    color: var(--v-theme-surface-variant);
}

div.v-selection-control-group {
    margin-bottom: 10px;
}

.activity-select > .notice {
    display: inline-block;
    padding: 10px;
    background-color: rgb(231, 229, 228);
    border-radius: 3px;
}

.lined {
    font-size: 18px;
    border-bottom: #666 1px solid;
    padding-bottom: 3px;
    margin: 20px 0 10px 0;
    font-weight: 400;
    text-align:left;
}


.v-selection-control__input{
    background-color: lightblue;
    height:25px;
    width:25px;
}

.v-selection-control .v-label {
    color: black;
}


.v-selection-control__input > * {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
}

.v-selection-control__input:before{
    background-color:blueviolet;
}


.TOSzone {
    margin-top: 20px;
}

.TOSzone a {
    color: var(--light-green);
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}


.establishBtn{
    width: 70px;
    height: 35px;
    line-height: 10px;
    background-color:var(--light-green);
    color:white;
    border:none;
    border-radius:5px;
    margin-left: 10px;
    margin-top: 15px;
}

