body {
    display: flex;
    flex-direction: column;
    height: 100vh
}


* {
    box-sizing: border-box;
}

/* main Body */
.section_wrap {
    flex-grow: 1;
}

.main-content {
    width: 100%;
}
.gap {
    padding: 10px 0;
}
.border{
    border-bottom: 1px solid var(--dark-gray);
}
.bold{
    font-weight: bold;
}
.pad{
    padding: 0 10px;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.light-border{
    border-bottom: 1px solid var(--light-gray);
}
.center{
    text-align: center;
    justify-content: center;
}


/* --------org_header----------- */

header.org_header {
    padding: 20px 32px 20px 20px;
    min-height: 36px;
    border-bottom: 1px solid var(--light-gray)
}

.org_header span {
    font-size: 22px;
    font-weight: normal;
    padding-right: 12px;
}

.org-name {
    color: var(--dark-gray);
}

.org-title {
    color: var(--main-green);
    font-weight: bold;

}

.org-title{
    font-size: 20px;
    font-weight: bold;
}
/* --------org-authority-title---------- */
.org-authority-title {
    padding: 30px 0px 20px 20px;
}
.general-title{
    padding-right: 10px; 
    font-weight: 500;
}
/* ----------------authority-------------- */
.invite-box{
    display: grid;
    grid-template-columns:1fr 1fr 0.3fr;
}
.subTitle{
    padding: 10px 0px 20px 20px;
}
.owner{
    display: grid;
    grid-template-columns:1fr 1fr 0.3fr;
}
.list-title{
    padding: 0px 0px 10px 10px;
    width: 80%;
    display: grid;
    grid-template-columns:1fr 1fr 0.3fr;
}
.authority-group{
    padding: 10px 0px 5px 20px;;
    width: 80%;
}
.title-names,
.invite-names{
    display: flex;
    align-items: center;
}
.col-1{
    width: 200px;
}
.invite-box{
    padding: 20px 10px;
    background-color: #fcf7e0;
    border-radius: var(--common-border-radius);
    line-height: 1.5;
}
.owner-names{
    align-self:center;
}
.owner-names img{
    padding-right: 10px;
}
.authority,
.owner-names img{
    vertical-align: middle;
}
.form-control{
    width: 200px;
}
.invite-authority-group{
    padding: 10px 0px 10px 10px;
    width: 80.6%;
}

/* -------button setting----------- */
.btn-success {
    color: var(--main-green);
    border: 1px solid var(--dark-gray);
    background-color: white;
}
.btn-danger{
    color:#DB4455 ;
    border: 1px solid var(--dark-gray);
    background-color: white
}
.btn-secondary{
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    background-color: white;
}
.btn-success:hover {
    background-color: var(--main-green);
}
.btn-danger:hover{
    color: white;
}
.btn-invite-group{
    padding: 10px 0px 200px 12px;
}
.authority-list-container{
    overflow: auto;
    overflow-y: scroll;
}


@media screen and (max-width:852px){
    .btn-group{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .invite-box,
    .owner{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .authority-group{
        width: 100%;
    }
    .invite-authority-group{
        width: 100%;
    }
    .form-control{
        width: 100%;
    }
    .pad{
        padding: 10px 10px;
    }
    .col-1{
        width: 100%;
    }
    .owner-names{
        display: flex;
        justify-content: center;
        font-size: 3vw;

    }
    .list-title{
        display: none;
    }
    .owner-names img{
        display: none;
    }
}

