
body {
    display: flex;
    flex-direction: column;
    height: 100vh
}


* {
    box-sizing: border-box;
}

/* main Body */
.section_wrap {
    flex-grow: 1;
}

.main-content {
    width: 100%;
}
.gap {
    padding: 10px 0;
}


/* --------org_header----------- */

header.org_header {
    padding: 20px 32px 20px 20px;
    min-height: 36px;
    border-bottom: 1px solid var(--light-gray)
}

.org_header span {
    font-size: 22px;
    font-weight: normal;
    padding-right: 12px;
}

.org-name {
    color: var(--dark-gray);
}

.org-title {
    color: var(--main-green);
    font-weight: bold;

}

.org-title{
    font-size: 20px;
    font-weight: bold;
}
/* --------event-list-title----------- */
.event-list-title {
    padding: 30px 32px 8px 20px;
    display: flex;
    align-items: center;
}
.list-title{
    padding-right: 10px; 
    font-weight: 500;
}

/* -------button setting----------- */

.btn-primary {
    color: white;
    background-color: var(--main-green);
    border: none;
}
.btn-primary:hover {
    background-color: var(--light-green);
}
.btn i {
    padding-right: 5px;
}
/* -------information Setting----------- */
.info-container{
    display: flex;
    gap: 20px;
    line-height: 1.5;
    padding-bottom: 40px;
}

.information{
    padding: 10px 32px 8px 20px;
    margin-bottom: 10px;
    width: 40%;
}
.info-title {
    font-size: 18px;
    font-weight: bold;
}
.websiteURL a{
    font-size: 15px;
    color: var(--main-green);
}
.websiteURL a:hover{
    color: var(--light-green);
    
}
.desc {
    width: 400px;
}
/* -------Advanced Setting----------- */

.contact-settings{
    border-bottom:2px solid var(--dark-gray);
    display: block;
    padding-bottom: 8px;
    line-height: 1;
}
.advancedSetting{
    margin-bottom: 10px;
}